*{
    scroll-behavior: smooth;
    box-sizing: border-box; /*šířka formuláře. aby byl všude stejně široký*/
}

body
{
    background-color:rgb(200, 200, 200);
    margin: 0;
}

header {
    background: url("images/festival.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
}

.intro-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* posunutí textu o 50% své délky*/
    text-align: center;
    border: 3px solid black;
    border-radius: 15px;
    padding: 0 40px 0 40px;
    text-wrap: nowrap; /*při zmenšení text zůstane na 1 řádku*/

}

.intro-container h1{
    font-size: 72px;
}

.intro-container p{
    font-size: 32px;
}



.about-festival, .about-singers{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 36px;

}

.about-festival p{
    font-size: 16px;
    padding: 24px;
}

/*
# id - vždy pouze jednou na webu
. třída - element s třídou se může opakovat na webu
 */

.main-container {
    background-color:rgb(255, 255, 255);
    width: 700px;
    margin: 125px auto 100px auto;
    padding: 24px;
    border-radius: 20px;
    position: relative;
}
/*absolutní pozice je vždy vůči nadřazenému elementu, který musí mít pozici relativní*/
/*pokoud prvek nebo element s absolutní pozicí nemá nadřazený element, tak se připne vůči body*/
/*element s absolutní ppozicí ignoruje tok dokumentu, to znamená že může překrývat ostatní elementy */
/*element s relativní pozicí je zahrnut do dokumentu*/

 .main-container img {
     border-radius: 20px;
     position: absolute;
     right: -15%;
     top: -39%;
 }
 #second-container {
     text-align: right;
     background-color: rgb(255, 255, 255);
     width: 700px;
     margin: 20px auto;
     padding: 30px;
     border-radius: 20px;
     position: relative;
 }
 #second-container img {
     border-radius: 20px;
     position: absolute;
     left: -15%;
     top: -48%;
 }
.testimonials h2{
    text-align: center;
    font-size: 48px;

}

.testimonials{
    width: 60%;
    margin: auto;
    text-align: center;
}

.testimonial-cards{
    display: flex;
    justify-content: space-between;
}

.testimonial-card{
    width: 25%;
    background-color: white;
    border-radius: 16px;
    padding: 32px 16px 32px 16px;

}
.testimonial-card img{
    border-radius: 50%;
    border: 4px solid black;
    width: 92px;
    height: 92px;
}

.testimonial-card p{
    font-size: 16px;
    line-height: 1.5;

}

.testimonial-card h3{
    font-size: 24px;
}
.testimonial-card h4{
    font-size: 20px;
    color: rgb(160, 160, 160);
    margin-bottom: 0;
}

.nav-links{
    display: flex;
    list-style: none;
    font-size: 28px;
    justify-content: space-evenly;
    padding: 16px 0 16px 0;
    margin: 0;
    background-color: black;

}

.navbar {

}

.nav-link a {
    text-decoration: none;
    color: white;

}

.nav-link a:hover {
    color: rgb(160, 160, 160);
}

footer{
    padding: 16px 0 16px 0;
    background-color: black;
}

.social-icons{
    display: flex;
    justify-content: center;
    gap: 16px; /* mezery mezi elementy */
}

.social-icons .fa{
    font-size: 30px;


}

.social-icons .fa:hover{
    color:rgb(120, 120, 120);
}

.social-icons .fa-facebook-f{
    color: blue;

}

.social-icons .fa-twitter{
    color: deepskyblue;
}

.social-icons .fa-instagram{
    color: #ea147e;
}

.social-icons .fa-youtube-play{
    color: red;
}

.footer-links{
    display: flex;
    justify-content: center;
    color: white;
    list-style: none;
    padding: 0;
    gap: 24px;
    font-size: 20px;
}

.footer-link a{
    text-decoration: none;
    color: white;

}

.footer-link a:hover{
    color: rgb(160, 160, 160);
}

.copyright{
    color: white;
    text-align: center;
    font-size: 8px;

}

.contact {
    text-align: center;
    font-size: 48px;
}

#contact-form{
    width: 25%;
    margin: auto;


}

.contact-container{
    margin: 80px;
}

input[type="text"], input[type="email"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    margin-top: 8px;

}

input[type="checkbox"]{
    height: 20px;
    width: 20px;
}

input[type="button"]{
    width: 100%;
    padding: 8px;
    font-size: 22px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: black;
    color: white;
    border: none;

}
input[type="button"]:hover{
    color: black;
    background-color: white;
    border: none;
}


label{
    font-size: 22px;
    text-align: left;
}

textarea{
    width: 100%;
    resize: none;
    height: 150px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.tickets{
    position: relative;
    height: 1000px;


}
.tickets h2{
    text-align: center;
    left: 20%;
    top: 10%;

}

.ticket{
    position: absolute;
    top:15%;
    width: 75%;
    display: flex;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-top: 4px solid black;


}

.ticket img{
    border-radius: 10%;
    border: 4px solid black;
    width: 180px;
    height: 180px;
    left: 10%;

}

.ticket2{
    position: absolute;
    top:37%;
    width: 75%;
    display: flex;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-top: 4px solid black;


}

.ticket2 img{
    border-radius: 10%;
    border: 4px solid black;
    width: 180px;
    height: 180px;
    left: 10%;

}

.ticket3{
    position: absolute;
    top: 60%;
    width: 75%;
    display: flex;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-top: 4px solid black;


}

.ticket3 img{
    border-radius: 10%;
    border: 4px solid black;
    width: 180px;
    height: 180px;
    left: 10%;

}

.ticket4{
    position: absolute;
    top: 83%;
    width: 75%;
    display: flex;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-top: 4px solid black;


}

.ticket4 img{
    border-radius: 10%;
    border: 4px solid black;
    width: 180px;
    height: 180px;
    left: 10%;

}

.ticket-button{
    position: absolute;
    top: 50%;
    left: 90%;
    width: 200px;
    height: 40px;
    transform: translate(0%, -50%);
    padding: 8px;
    font-size: 22px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: black;
    color: white;
    border: none;

}
.ticket-button:hover{
    color: black;
    background-color: white;
    border: none;
}

.h3-ticket{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);

}

.p-ticket{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}
